// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "_mixins.scss";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.menu {
    background-color: rgba(1,50,71,1);
    height: 80px;
    width: 100%;
    display: table;
    z-index: 990;
    position: fixed;
    padding: 0 40px;
    top: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
    @include breakpoint(w500){
        padding: 0 20px;
    }
    .menu-block {
        display: table-cell;
        vertical-align: middle;
        &.first {
            min-width: 650px;
            @include breakpoint(w500){
                min-width: 0 !important;
            }
        }
        &.second {
            min-width: 150px;
        }
        &.last {
            @include breakpoint(w500){
                display: none !important;
            }
        }
        .social-links-wrap {
            position: relative;
            padding-left: 30px;
            display: flex;
            .icons {
                display: flex;
                position: absolute;
                left: 0;
                top: -22px;
                .social-links-item {
                    margin-right: 10px;
                }
                @include breakpoint(w500){
                    left: 21px;
                    top: -25px;
                }
            }
            .phone {
                position: absolute;
                top: 12px;
                left: 13px;
                a {
                    color: #f2f2f3;
                    text-decoration: none;
                }
                @include breakpoint(w500){
                    left: 30px;
                    top: 8px;
                }
            }
        }
        .right-button {
            display: table-cell;
            vertical-align: middle;
            a {
                height: 40px;
                font-size: 14px;
                margin-left: 10px;
                color: #ffffff;
                background-color: #eb642f;
                border-radius: 120px;
                display: block;
                padding: 9px 25px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    background-color: #a34d14 !important;
                }
            }
        }
        &.title {
            text-align: left;
            a {
                font-size: 32px;
                color: #f8fafc;
                text-decoration: none;
                display: block;
                margin-bottom: -15px;
                margin-top: -10px;
                @include breakpoint(w500){
                    font-size: 28xp;
                }
            }
        }
        .nav {
            list-style-type: none;
            margin: 0;
            padding: 0!important;
            -webkit-transition: opacity ease-in-out .2s;
            -moz-transition: opacity ease-in-out .2s;
            -o-transition: opacity ease-in-out .2s;
            transition: opacity ease-in-out .2s;
            .item {
                clear: both;
                font-family: 'PT Sans',Arial,sans-serif;
                font-size: 16px;
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0;
                color: #000;
                white-space: nowrap;
                a {
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: 600;
                    font-family: 'Georgia';
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.5 !important;
                    }
                }
            }
        }
    }
}

.main-block {
    position: relative;
    .main-image {
        height: 100vh;
        background-image: url(/images/7.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        @include breakpoint(w500){
            height: 310px;
        }
    }
    .arrow {
        position: absolute;
        bottom: 25px;
        left: 50%;
    }
    .main-black {
        height: 100vh;
        width: 100%;
        position: absolute;
        background: #00000052;
        top: 0;
        @include breakpoint(w500){
            height: 310px;
        }
    }
    .main-text {
        position: absolute;
        top: 135px;
        left: 50%;
        margin-left: -180px;
        @include breakpoint(w500){
            top: 100px;
            margin-left: -120px;
        }
        h1 {
            font-size: 90px !important;
            margin: 60px 0;
            @include breakpoint(w500){
                font-size: 40px !important;
                margin: 30px 0;
            }
        }
        h2 {
            text-transform: uppercase;
            font-size: 16px !important;
        }
        p {
            opacity: 0.50;
            margin-top: 110px;
            @include breakpoint(w500){
                margin-top: 40px;
            }
        }
    }
}

.second-block {
    color: #000000;
    text-align: left;
    padding: 20px;
}

.carousel-block {
    width: 80%;
    margin: 0 auto;
}

.footer-block {
    color: #000000;
    padding: 20px;
    .form {
        width: 400px;
        margin: 0 auto;
        @include breakpoint(w500){
            width: 90%;
        }
        .form-input {
            display: block;
            width: 100%;
            margin: 15px;
            padding: 10px 15px;
            @include breakpoint(w500){
                margin-left: 1px;
            }
        }
        .send {
            background-color: #eb642f;
            color: #f8fafc;
            border: 1px solid #eb642f;
            border-radius: 7px;
            padding: 5px 20px;
        }
    }
}

.main-info {
    color: #101010;
    padding: 30px;
    font-size: 18px;
    .text {
        text-align: left;
    }
}

hr {
    border-top: 2px solid #013247;
    margin: 0 auto;
    width: 90%;
}

.info-block {
    color: #101010;
    padding: 30px;
    font-size: 18px;
}
